   .dot{
           animation: fadeAnimation 1s infinite alternate;
        }
        
         @keyframes fadeAnimation {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0.3;
            }
        }