    .grid-xl-2-sm-1 {
    display: grid !important;
    gap: 2em !important;
    grid-template-columns: repeat(2, 1fr) !important;
}
    @media (max-width: 768px) {
         .grid-xl-2-sm-1 {
        grid-template-columns: repeat(1, 1fr) !important;
    }

        .navbar-brand-div{
            transform:scale(0.7);
            /*padding-top:5px;*/
        }
    }
